<meta name="viewport" content="width=620" />
<title>geolocation</title>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <article>
      <p>Finding your location: <span id="status">checking...</span></p>
    </article>



<script>
  getGeoLocation();
</script>

<div id="test"> </div>


