// Place all the styles related to the Proclamations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// moved all the stuff up to application.css

