<div>
  <%= form_for(@proclamation) do |f| %>
    <%= f.text_field :proclamation, :class=> "eleven columns", placeholder: "your best idea goes here..."%>
    <%= f.submit 'Proclaim', :class => 'full-width button' %>
  <% end %>
</div>