<div class="title">
    <h3>If I Were King...</h3>
    <%= render 'form' %>
</div>

<div>
    <% @proclamations.each do |proclamation| %>
        <div class="four columns">
          <%= render 'single', proclamation: proclamation %>
        </div>
    <% end %>
</div>
