<p id="notice"><%= notice %></p>

<p>
  <strong>Proclamation:</strong>
  <%= @proclamation.proclamation %>
</p>

<%= link_to 'Edit', edit_proclamation_path(@proclamation) %> |
<%= link_to 'Back', proclamations_path %>
